[submodule "cookbooks/perficient_audit"]
	path = cookbooks/perficient_audit
	url = git@github.com:Perficient-DevOps/chef-perficient_audit.git
[submodule "cookbooks/perficient_splunk"]
	path = cookbooks/perficient_splunk
	url = git@github.com:Perficient-DevOps/chef-perficient_splunk.git
